Requirement already satisfied: freeze in c:\users\naveen\appdata\local\programs\python\python36\lib\site-packages (1.0.10)
Requirement already satisfied: six in c:\users\naveen\appdata\local\programs\python\python36\lib\site-packages (from freeze) (1.11.0)
